{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "18" // Vercel default Node.js LTS (per 2024)
      }
    }]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"]
}